@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700;800&display=swap');

* {
    font-family: Work Sans;
    margin: 0px;
    padding: 0px;
}


/* Navigation ber style here */
.nav-icon {
    width: 20px;
    padding: 0px 10px;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding: 0px 100px;
}

.logo {
    display: flex;
    align-items: center;
}


.nav-manu>ul {
    display: flex;
    align-items: center;
}

.nav-text {
    color: #3C354F;
    font-size: 1.3rem;
    line-height: normal;
    padding: 0px 0px 0px 15px;
}

.nav-manu>ul>li {
    text-decoration: none;
    list-style: none;
}

.game-color {
    color: #F948B2;
}

.logo-text {
    color: #0B0223;
    font-size: 2.8rem;
    margin-left: 0px 200px;
}

.btn-icon {
    display: flex;
    align-items: center;
    /* padding-left: 15px ; */
}

.nav-button {
    margin-left: 15px;
    border: 0px;
    border-radius: 10px;
    padding: 10px;
    color: #0B0223;

}

.nav-button>img p {
    padding-left: 15px;
}

.game-logo {
    padding-right: 20px;
}


/* Banner related style are started here */
.banner-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 40px 0px;
    
}

.group-banner {
    height: 80vh;
}

.pink-btn {
    padding: 10px 30px;
    border-radius: 48px;
    background-color: #F948B2;
    color: white;
    border: 0px;
    font-size: 1.3rem;
    text-transform: uppercase;
    margin: 20px 10px;

}

.blue-btn {
    padding: 10px 30px;
    border:0px;
    border-radius: 48px;
    background-color: #4EC5F7;
    color: white;
    font-size: 1.3rem;
    text-transform: uppercase;
    margin: 20px 10px;
}

.play{
    color: #0B0223;
font-size: 2.5rem;
text-transform: uppercase;
padding-bottom: 20px;
}
.goat{
font-size: 5.5rem;
text-transform: uppercase;
background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
padding-bottom: 20px;
}
.banner-point{
color: #534C64;
font-size: 1.3rem;
padding-bottom: 10px;

}