@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700;800&display=swap');

* {
    font-family: Work Sans;
    margin: 0px;
    padding: 0px;
}


/* Navigation ber style here */
.nav-icon {
    width: 20px;
    padding: 0px 10px;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding: 0px 100px;
}

.logo {
    display: flex;
    align-items: center;
}


.nav-manu>ul {
    display: flex;
    align-items: center;
}

.nav-text {
    color: #3C354F;
    font-size: 1.3rem;
    line-height: normal;
    padding: 0px 0px 0px 15px;
}

.nav-manu>ul>li {
    text-decoration: none;
    list-style: none;
}

.game-color {
    color: #F948B2;
}

.logo-text {
    color: #0B0223;
    font-size: 2.8rem;
    margin-left: 0px 200px;
}

.btn-icon {
    display: flex;
    align-items: center;
    /* padding-left: 15px ; */
}

.nav-button {
    margin-left: 15px;
    border: 0px;
    border-radius: 10px;
    padding: 10px;
    color: #0B0223;

}

.nav-button>img p {
    padding-left: 15px;
}

.game-logo {
    padding-right: 20px;
}


/* Banner related style are started here */
.banner-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 40px 0px;

}

.group-banner {
    height: 80vh;
}

.pink-btn {
    padding: 10px 30px;
    border-radius: 48px;
    background-color: #F948B2;
    color: white;
    border: 0px;
    font-size: 1.3rem;
    text-transform: uppercase;
    margin: 20px 10px;

}

.blue-btn {
    padding: 10px 30px;
    border: 0px;
    border-radius: 48px;
    background-color: #4EC5F7;
    color: white;
    font-size: 1.3rem;
    text-transform: uppercase;
    margin: 20px 10px;
}

.play {
    color: #0B0223;
    font-size: 2.5rem;
    text-transform: uppercase;
    padding-bottom: 20px;
}

.goat {
    font-size: 5.5rem;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-bottom: 20px;
}

.banner-point {
    color: #534C64;
    font-size: 1.3rem;
    padding-bottom: 10px;

}

.text-container {
    background-image: url('images/Group\ 14.png');
}


/* we are gamer section style here */
.we-are-gamer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px auto;
    border: 0px;
    width: 90%;
    margin: auto;


}

.gamers-details {
    text-align: end;
    width: 45%;

}

.gamers {
    width: 55%;
}

.gamer-tittle {
    font-size: 2rem;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 10px;

}

.gamer-description {
    color: #534C64;
    font-size: 1.2rem;

}

.purpose {
    color: #534C64;
    font-size: 2rem;


}

small {

    font-size: 1.2rem;
}

.gamers-picture {
    width: 100%;
}

/* online game related style */
.online-game {
    display: grid;
    justify-content: center;
    margin: 20px 0px;
    text-align: center;
}

.gradiant {

    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3rem;

}

.online-game-text {
    color: #0B0223;
    font-size: 3rem;
    margin-bottom: 20px;

}

.online-description {
    color: #534C64;
    font-size: 1.1rem;

}

/* card section here */
.cards {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.cards>.card {
    /* height: 50%; */
    width: 24%;
    text-align: left;
    margin-bottom: 20px;

}

.card-image {
    width: 100%;
    margin: 20px 0px;
}

.card-image:hover {
    border: 5px solid #F948B2;
    border-radius: 20px;
    transition-duration: 0.5s, 1s;

}


/* online play game */
.play-instant{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 90%;
    margin:  50px auto;
}


/* play button section started */
.play-button {
    width: 90%;
    margin: 100px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    text-align: center;

}

.btn {
    display: flex;
    align-items: center;
    /* gap: 500px 20px; */
    margin: 20px 20px;

}

.btn:hover {
    border: 2px solid #F948B2;
    border-radius: 50px;
    padding: 5px;
    color: #F948B2;
    transition-duration: 0.3s;
    transition-delay: 0.1s;

}

h3 {
    padding-left: 10px;
    color: #0B0223;
    font-size: 1.1rem;
}


/* footer related style are here */
footer {

    background-color: #0B0223;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 0px;

}


.footer-logo {
    display: flex;
    align-items: center;
    justify-content: center;

}

.footer-logo>h2 {
    color: #FFF;
    font-size: 3rem;
}

.support {
    justify-content: space-around;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.footer-text {
    color: #FFF;
    font-size: 1.2rem;

}

.social-icon {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-content: space-around;
    margin-top: 20px;


}

.footer-icon {
    width: 30px;
    height: 30px;
    gap: 20px;
}

.privacy {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* row-gap: 20px; */
    justify-content: center;

}

.terms {
    color: rgba(255, 255, 255, 0.60);
    font-size: 1rem;
    margin: 0px 10px;

}

.copyright {
    margin-top: 20px;
    display: flex;
    justify-content: center;

}

.copyright>small {
    color: rgba(255, 255, 255, 0.60);
    font-size: 0.6rem;
}