/* This responsive style for Mobile screen */
@media screen and (max-width:576px) {
    .navigation {
        flex-direction: column;
        padding: 10px 20px;
    }

    .nav-manu>ul {
        flex-direction: column;

    }

    .nav-text {
        color: #3C354F;
        font-size: 1.3rem;
        line-height: normal;
        padding: 20px 0px;
    }

    .nav-button {
        border: 0px;
        border-radius: 10px;
        padding: 0px 10px;
    }


    /* banner responsive style start from here */
    .banner-container {
        flex-direction: column-reverse;
        margin: 200px 0px 100px 0px;
    }

    .group-banner {
        height: 35vh;
        margin-bottom: 50px;
    }

    .pink-btn {
        padding: 10px 10px;
        margin: 10px 0px;

    }

    .blue-btn {
        padding: 10px 10px;
        margin: 10px 0px;
    }

    .play {
        color: #0B0223;
        font-size: 2.5rem;
        text-transform: uppercase;
        margin-top: 50px;
    }

    .goat {
        font-size: 5.5rem;
        padding-bottom: 0px;
    }

    .banner-point {
        color: #534C64;
        font-size: 1.3rem;
        padding-bottom: 0px;

    }

    .button-container {
        width: auto;
        margin: auto;
    }

    .we-are-gamer {
        flex-direction: column;
    }

    .gamers-details {
        text-align: end;
        width: 90%;
        text-align: center;

    }

    .gamers {
        width: 90%;
        /* text-align: center; */
    }

    .purpose {
        font-size: 1.2rem;

    }

    .gamer-description {
        font-size: 1.rem;

    }

    /* online game responsive style */
    .online-description {
        color: #534C64;
        font-size: 0.6rem;
    
    }
    .online-game-text {
        color: #0B0223;
        font-size: 1.5rem;
        margin-bottom: 20px;
    
    }
    .gradiant {

        background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 1.5rem;
    
    }
 /* card section started here */
 .cards{
   
    flex-direction: column;
    
}
.cards>.card{

    width: 90%;
   text-align: left;
   margin: auto;
   
}

.play-instant{
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.play-instant-image{
    width: 90%;
    margin:20px  auto;
    
}
.play-button{
    width: 90%;
    margin: 100px auto;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   justify-content: center;
   text-align: center;

}
.carrer {
    text-align: center;
   flex-direction: column;
    padding: 10px 0px;

}

.play-instant-online{
    
    flex-direction: column;
    width: 90%;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    
 }
.carrer-info{
    width: 70%;
}

.carrer-image{
    width: 70%;
}
.btn{
    display: flex;
    align-items: center;
    /* gap: 500px 20px; */
    margin: 10px 10px;

}





    /* footer responsive style here */
    
    .support {
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
    }

    .social-icon {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        text-align: center;
    }
    .privacy {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        padding: 5px;
        
    }
    .support {
        
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }

    footer section{
        width: 70%;
    }
    .footer-text {
       
        font-size: 0.8rem;
        text-align: center;
    
    }

    .terms {
        color: rgba(255, 255, 255, 0.60);
        font-size: 0.6rem;
        margin: 0px 10px;
        text-align: center;
    
    }
    .copyright>small {
        color: rgba(255, 255, 255, 0.60);
        font-size: 0.4rem;
        text-align: center;
    }

}










/* This responsive style for Tablet screen */